<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=tykm5FIkdiSmWLgfNKB5UIZi"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>救援信息</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-8">
                            <div  id="allmap" style="width:100%;height:600px;overflow:visible;"></div>
                        </div>                     
                        
                        <div class="col-md-4">
                            <h2><i class="fa fa-yelp"></i> 救援详情: 
                                    {switch name="data.status"}
                                    {case value="1"}<span class="label label-danger">等待受理 </span>{/case}
                                    {case value="2"}<span class="label label-warning">已受理</span>{/case}
                                    {case value="3"}<span class="label label-info">等待救援</span>{/case}
                                    {case value="4"}<span class="label label-success">完成救援</span>{/case}
                                    {default /}--
                                    {/switch}
                               </h2>

                            <ul class="list-group clear-list m-t">
                                 <li class="list-group-item">
                                    <span class="pull-right">{$rescue_type[$data.type]}</span>
                                    <i class="fa fa-tags"></i>   救援类型</li>
                                <li class="list-group-item">
                                    <span class="pull-right">{if condition="$data.casualty eq 1"}>有{else /}无{/if}</span>
                                    <i class="fa fa-briefcase"></i>   有无人员伤亡</li>
                                <li class="list-group-item">
                                    <span class="pull-right">{if condition="($data.comburant eq 1)"}有{else /}无{/if}</span>
                                    <i class="fa fa-fire"></i>   有无助燃物</li>


                              {empty name="data['police_force']"}
                                <li class="list-group-item">
                                    <span class="pull-right"></span>
                                    <i class="fa fa-fire-extinguisher"></i>   救援队</li>
                                {else /}
                                <li class="list-group-item">
                                    <span class="pull-right">{$data['police_force']['name']}</span>
                                    <i class="fa fa-fire-extinguisher"></i>   救援队</li>
                                {/empty}
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {$data.create_time}
                                    </span>
                                    <i class="fa fa-clock-o"></i>   时间</li>
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {$data.alarm_person}
                                    </span>
                                    <i class="fa fa-male"></i>   报警人</li>
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {$data.alarm_phone}
                                    </span>
                                    <i class="fa fa-phone"></i> 报警电话</li>
                                <li class="list-group-item">
                                    <span class="pull-right">( {$data.longitude},{$data.latitude})</span>
                                    <i class="fa fa-map-marker"></i>  纬经度</li>
                            </ul>

                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <h2><i class="fa fa-map-marker"></i> <span class="label-muted"> 地址：北京市北京市东城区东华门街道文三路科技广场</span></h2>
                            </div>
                            {if condition="($data.status eq 1)"}<button class="btn btn-success pull-right" id="allocateBtn">分配救援</button>{else /}{/if}
                                                                <button class="btn btn-default" id="backBtn">返回列表</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var status = parseInt("{$data['status']}");
    var longitudeEnd = parseFloat("{$data['longitude']}");
    var latitudeEnd = parseFloat("{$data['latitude']}");
  
    if(status==1 ){
       // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(longitudeEnd, latitudeEnd);
    map.centerAndZoom(point, 15); 
    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

  
    var marker = new BMap.Marker(point);// 创建标注
                    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                    map.addOverlay(marker);// 将标注添加到地图中
                    addClickHandler("<strong>报警地址：</strong>"+"{$data['address']}",marker);
    
    
    var opts = {       width : 250,     // 信息窗口宽度
				height: 80,     // 信息窗口高度
				title : "<strong>地址详细</strong>" , // 信息窗口标题
				enableMessage:true//设置允许信息窗发送短息
			   };
    
            function addClickHandler(content,marker){
		marker.addEventListener("click",function(e){
			openInfo(content,e)}
		);
	     }
             
             
             function openInfo(content,e){
		var p = e.target;
		var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
		var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象 
		map.openInfoWindow(infoWindow,point); //开启信息窗口
	}

    }else{
    
    var longitudeFrom = "{php}if(empty($data['police_force'])){echo 0;}else{echo $data['police_force']['longitude']; }{/php}";
    var latitudeFrom = "{php}if(empty($data['police_force'])){echo 0;}else{echo $data['police_force']['latitude']; }{/php}";
    

    // 百度地图API功能
    var map = new BMap.Map("allmap");
    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    var point = new BMap.Point(longitudeFrom, latitudeFrom);
    map.centerAndZoom(point, 15);

    var from = new BMap.Point(longitudeFrom, latitudeFrom);
    var end = new BMap.Point(longitudeEnd, latitudeEnd);


    var driving = new BMap.DrivingRoute(map, {renderOptions: {map: map, autoViewport: true}});
    driving.search(from, end);

    }

/**
 * 分配救援
 * @type type
 */
    $('#allocateBtn').on('click', function () {
        var param = {
            url: "{:url('admin/rescue/policeSelect');}",
            data: {
                rescueId: "{$data['id']}"
            }
        };

        $(this).commonLoadModal(param.url, param.data);
    });


$('#backBtn').on('click', function () {
    window.history.back()
    });



</script>