<!-- Data Tables -->
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=tykm5FIkdiSmWLgfNKB5UIZi"></script>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>救助信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div  id="allmap" style="width:100%;height:700px;overflow:visible;"></div>
                            <!--                                    <div class="flot-chart">
                                                                    <div class="flot-chart-content" id="allmap"></div>
                                                                </div>-->
                        </div>
                        <div class="col-lg-6">
                            <!-- 表单内容 -->
                            <!-- 用户控件（操作） -->
                            <div class="form-group row" data-toggle="distpicker">
                                <label class="col-md-3 control-label">{:lang('筛选报警区域：')}</label>
                                <div class="col-md-9">
                                    <div class="col-md-4 ">
                                        <select name="province"  class="form-control">
                                        </select>
                                    </div>
                                    <div class="col-sm-4  ">
                                        <select name="city"  class="form-control">
                                        </select>
                                    </div>
                                    <div class="col-sm-4  ">
                                        <select name="area"  class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {toolbar id="toolbar" btns="add"}

                            {/toolbar}
                            <!-- 表格数据 -->
                            <table id="table" data-toggle="gridview" class="table table-bordered text-nowrap table-striped" data-url="{:url('admin/rescue/getList')}" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="[10, 25, 50, All]" data-unique-id="id" data-pagination="true"  data-search="true" data-click-to-select="false">
                                <thead>
                                    <tr>
                                        <th data-width="80" data-field="operate" data-align="center" data-formatter="operateFormatter" data-events="operateEvents">
                                            {:lang('Operate')}</th>   
                                        <th data-width="100" data-field="status" data-formatter="statusFormatter">状态</th>
                                        <th data-width="100" data-field="create_time" >报警时间</th> 
                                        <th data-width="100" data-field="address">地址</th>
                                        <th data-width="100" data-field="alarm_person" >报警人</th>
                                        <th data-width="100" data-field="alarm_phone">报警电话</th>   

                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
{js href="__LIB__/distpicker/distpicker.data.js" /}
{js href="__LIB__/distpicker/distpicker.js" /}
<script type="text/javascript">

    $(function () {
        
        $('#table').on('load-success.bs.table', function (e, data) {
            freshMap(data['rows']);
        });
        
        $('#table').on('click-row.bs.table', function (e, row) {
            freshMap(row);
        });


//         ipLocation  = {'province':'北京市','city':'北京市'};
// 
//         $.ajax({
//　　url: "http://api.map.baidu.com/location/ip?ak=tykm5FIkdiSmWLgfNKB5UIZi&coor=bd09ll",
//　　type: "POST",
//　　dataType:'JSONP',
//    async : false,
//　　success:function(data){  
//             ipLocation['province'] = data['content']['address_detail']['province'];
//             ipLocation['city'] = data['content']['address_detail']['city'];
//            $('[data-toggle="distpicker"]').distpicker({
//            province: ipLocation['province'],
//            city: ipLocation['city'],
//            district: "",
//            placeholder: true
//        });
//            
//             },
//　　error:function(er){
//　　console.log(er);}
//});


//        $('[data-toggle="distpicker"]').distpicker({
//            province: ipLocation['province'],
//            city: ipLocation['city'],
//            district: "",
//            placeholder: true
//        });

        var distpicker = $('[data-toggle="distpicker"]');
        distpicker.on('change', 'select', function () {
            var params = {query: {'province': distpicker.find("select[name='province']").val(),
                    'city': distpicker.find("select[name='city']").val(),
                    'area': distpicker.find("select[name='area']").val()}};
            $('#table').bootstrapTable('refresh', params);
        });

    });




/**
 * 地图数据更新
 * @author doublecong
 * @param {type} data 数据源
 * @returns {undefined}
 */
    var freshMap = function (data) {

        $(function () {
            var point;
            // 百度地图API功能
            var map = new BMap.Map("allmap");
            point = new BMap.Point(120.15917, 30.289514);//杭州
            map.centerAndZoom(point, 15);
            map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
            map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

            var opts = {width: 250, // 信息窗口宽度
                height: 80, // 信息窗口高度
                title: "<strong>地址详细</strong>", // 信息窗口标题
                enableMessage: true//设置允许信息窗发送短息
            };


            if (data['longitude']) {
                var point = new BMap.Point(data['longitude'], data['latitude']);
                map.panTo(point);
                addMarker(point, data);

                return;
            }

            // 编写自定义函数,创建标注
            function addMarker(point, data) {
                var marker = new BMap.Marker(point);// 创建标注
                marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                map.addOverlay(marker);// 将标注添加到地图中
                addClickHandler("<strong>报警地址：</strong>" + data['address'], marker);
            }

            function addClickHandler(content, marker) {
                marker.addEventListener("click", function (e) {
                    openInfo(content, e)
                }
                );
            }

            function openInfo(content, e) {
                var p = e.target;
                var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                var infoWindow = new BMap.InfoWindow(content, opts);  // 创建信息窗口对象 
                map.openInfoWindow(infoWindow, point); //开启信息窗口
            }

            for (var i = 0; i < data.length; i++) {
                var point = new BMap.Point(data[i]['longitude'], data[i]['latitude']);
                addMarker(point, data[i]);

            }

        });

    }




    function statusFormatter(value, row, index) {
        var style = '';
        var text = '';
        switch (row.status) {
            case 1: //等待受理(默认)
                this.style = 'text-danger';
                this.text = '等待受理'
                break;
            case 2 :  //已受理
                this.style = 'text-warning';
                this.text = '已受理'
                break;
            case 3: //等待救援
                this.style = 'text-info';
                this.text = '等待救援'
                break;
            case 4 : //完成救援
                this.style = 'text-success';
                this.text = '完成救援'
                break;
        }

        return "<span class='" + this.style + "'>" + this.text + "</span>";
    }

    function operateFormatter(value, row, index) {

        if (row.status === 1) {
            return [
                '<a class="btn btn-xs allocate" href="javascript:void(0)" data-toggle="tooltip" title="分配救助人员">',
                '分配',
                '</a>',
                '<a class="btn btn-xs detail" href="javascript:void(0)" data-toggle="tooltip" title="查看报警详情">',
                '详情',
                '</a>',
            ].join('');
        } else {
            return [
                '<a class="btn btn-xs detail" href="javascript:void(0)" data-toggle="tooltip" title="查看报警详情">',
                '详情',
                '</a>',
            ].join('');
        }
    }
    var operateEvents = {
        'click .allocate': function (e, value, row, index) {
            var param = {
                url: "{:url('admin/rescue/policeSelect');}",
                data: {
                    rescueId: row.id
                }
            }
            $("#table").gridView('loadModal', param.url, param.data);
        },
        'click .detail': function (e, value, row, index) {
            var param = {
                url: "{:url('admin/rescue/detail');}",
                data: {
                    id: row.id
                }
            }
            window.location.href = param.url + "/id/" + param.data.id;
        },
    };


</script>


