    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="row">
                        <div class="center wow fadeInDown footer-center text-center animated" style="visibility: visible; animation-name: fadeInDown;">
                            <h2>联系我们</h2>
                            <br />
                            <p>当你在犹豫的时候，这个世界很小；当你做出行动的时候，这个世界就很大。</p>
                            <p>邮箱 | info@theobmcare.com</p>
                            <p>电话 | +86 0571 85265535</p>
    
                            <ul class="social-icons">
                                <li>
                                    <a data-toggle="modal" data-target=".wechat-1" href="#">
                                        官方微信号 | <img src="__static__/global/obm/images/wechat.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="modal" data-target=".wechat-2" href="#">
                                        微信公众号 | <img src="__static__/global/obm/images/wechat.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->