{if condition=" $box_is_pjax != 1 "}
{load href="__static__/global/obm/css/bootstrap.min.css" /}
{load href="__static__/global/obm/css/font-awesome.min.css" /}
{load href="__static__/global/obm/css/animate.min.css" /}
{load href="__static__/global/obm/css/prettyPhoto.css" /}
{load href="__static__/global/obm/css/main.css" /}
{load href="__static__/global/obm/css/responsive.css" /}

{load href="__static__/global/obm/images/ico/favicon.ico" /}
{load href="__static__/global/obm/images/ico/apple-touch-icon-144-precomposed.png" /}
{load href="__static__/global/obm/images/ico/apple-touch-icon-72-precomposed.png" /}
{load href="__static__/global/obm/images/ico/apple-touch-icon-57-precomposed.png" /}

{load href="__static__/global/obm/js/jquery.min.js" /}

{/if}